.login__content {
    margin: 0 400px;
    padding: 20px 15px;
}

.login__heading {
    width: 500px;
    margin-bottom: 40px;
    font-size: 36px;
    position: relative;
    left: 340px;
    top: 50px;
}

.form__label--item {
    font-weight: bold;
    font-size: 24px;
    position: relative;
    left: 190px;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__group-title {
    margin-top: 40px;
}

.form__error {
    width: 400px;
    height: 20px;
    color: #ff0000;
    white-space: nowrap;
    position: relative;
    top: 26px;
    right: 50px;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 12px;
    width: 525px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 15px;
    position: relative;
    left: 190px;
}

.login-button {
    margin-top: 50px;
    width: 525px;
    padding: 7px;
    color: #fff;
    border-radius: 3px;
    background: #ff5555;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border: none;
    position: relative;
    left: 190px;
}

.registration {
    margin-top: 30px;
    font-size: 20px;
    display: block;
    color: #0073cc;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    left: 374px;
}