.verify__container {
    width: 1695px;
    padding: 300px;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
}

.verify__message {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.6;
}

.verify__resend-button{
    padding: 12px 24px;
    background: none;
    color:#2563eb;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}
